# Binary / compiled files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

vendor/

# Go modules cache
/go.sum
/go.mod 
**/bin/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Build directories
_build/
